.border{
    border: solid 2px black;
    margin: 50px;
    padding: 40px;
    text-align: center;
}
.budgetDiv{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    padding: 20px;
}
.types{
    font-size: 30px;
}
.newBudget{
    color: cadetblue;
    font-size: 50px;
}
.heading{
    width: 200px;
}
.typespro{
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
button{
    height: 30px;
    width: 70px;
}
.float_left{
    float: left;
}
.justifySpace{
    justify-content: center;
    display: inline-flex;
    font-size: 20px;
    font-weight: 700;
    margin: 20px;
}
.tableWidth{
    width: 600px;
}
.wid200{
    width: 300px;
}